header {
    background-color: $dark-blue;

    figure {
        padding: 1%;
        width: 8%;

        img {
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }

    .menu-icon {
        padding: 1%;
        display: inline-block;
        cursor: pointer;
        color: white;
    }
}