@media screen and (max-width: 660px) {
    header {
        padding: 2% !important;
        figure {
            width: 20% !important;
        }
    }

    .card {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: auto !important;
        margin-bottom: 4% !important;
        margin-top: 4% !important;
        width: 90% !important;
    }
}

