@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;

        a {
            font-size: 18px;
        }
    }
}

.container-fluid {
    transition: 400ms;
    transition-property: margin;
}

.sidenav {
    height: 100vh; 
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $dark-blue; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 400ms;
    transition-property: width;
    @include KufamFont;
    font-weight: 500;
    box-shadow: 0px 0px 30px rgb(17, 17, 17);

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 200ms;
     

        &:hover {
            color: $dark-blue;
            background-color: white;
            text-decoration: none;
          }
      }

      .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        
            &:hover {
                color: white;
                background-color: $dark-blue;
            }
      }
  }