* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid {
    z-index: 7;
    transition: 400ms;
    transition-property: margin;
}

@mixin KufamFont {
    font-family: 'Kufam', cursive;
}

@import 'colors';
@import 'responsive';
@import 'sidenav';
@import 'header';